.portfolio__container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 2.5rem;
    justify-content: center;
}
.portfolio__image{
    display: flex;
    justify-content: center;
}
.portfolio__item{
   background: var(--color-bg-variant);
   padding: 1.2rem;
   border-radius: 1.5rem;
   border: 1px solid transparent;
   transition: var(--transition);
}
.portfolio__item:hover{
    border-color: var(--color-primary-variant);
    background: transparent;
}

.portfolio__image img{
    width: 100%;
    border-radius: .8rem;
    justify-self: center;
    margin-bottom: 1rem;
    overflow: hidden;
}
.portfolio__btn{
    display: flex;
    justify-content: space-evenly;
   
}

.portfolio__data{
    display: flex;
    flex-direction: column;
    align-items: center;
}


/* --------------- Media queries (Medium Devices)------------- */
@media screen and (max-width: 1024px){
    .portfolio__container{
        grid-template-columns: repeat(2,1fr);
    }
  }
  /* --------------- Media queries (small Devices)------------- */
  @media screen and (max-width: 600px){
    .portfolio__container{
        grid-template-columns:1fr;
    }
  }