.ex__item h2 {
    font-size: 1.8rem;
    color: var(--color-primary)
}
.experience__container img{
    width: 600px;
}


.ex__item small{
    font-size: 0.7rem;
    color: var(--color-light);
}
.exp__detail small{
    font-size: 0.7rem;
    color: var(--color-light);
}
.exp__detail h5{
    margin-top: 1rem;  
    margin-bottom: 1rem; 
}

.ex-items{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 4rem;
    justify-items: center;
    align-items: center;
    margin-top: -20px;
}

.experience__container{
    display: flex;
    gap:3rem;
    align-items: center;
}

.experience__content{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* .ex-items{
    margin: -20px;
} */

/* --------------- Media queries (Medium Devices)------------- */
@media screen and (max-width: 1024px){
    .experience__container{
        flex-direction: column;
       
    }
  }
  /* --------------- Media queries (small Devices)------------- */
  @media screen and (max-width: 600px){
    .experience__container{
        flex-direction: column;
    }
    .ex-items{
        grid-template-columns: repeat(4,1fr);
        gap: 2rem;
        margin-top: -100px;
    }
    .experience__content img{
        width:95%;
    }
    .ex__item h2 {
        font-size: 1.3rem;
        color: var(--color-primary)
    }
  }